body {
  background-color: #646161;
}

button {
  cursor: pointer;
  padding: 10;
}

input {
  border-radius: 10px;
}

form {
  text-align: center;
}

#testID {
  color: #4646b4;
  background: #aba8f4;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#checkbox {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.deleteTask {
  cursor: pointer;
}
